$headerHeight: 50px;

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Muli, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: $headerHeight;
}

section {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    height: calc(100vh - 50px); // make variable
}

section#editor_section {
    display: flex;
    flex-direction: column;
}

section#output_section {
    z-index: 3
}

#output_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: lightslategray;
    margin-top: 30px;
}

section#editor_section #editor_1, section#editor_section #editor_2 {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    // height: 50%;
}

iframe {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: white;
    &.mobile {
        height: 568px;
        max-width: 320px;
        box-shadow: 0 0 20px 4px;
        border-radius: 4px;
    }
}

#editor_json, #editor_css {
    // position: relative;
    margin-top: 30px;
    height: calc(100% - 30px);
}
