html, body, .scalejs-app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #475253;
}

.viewport {
    width: 50vw;
    min-width: 270px;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.validations {
    top: 20px;
    width: 100%;
    position: absolute;
}

.validation-message-box {
    border-radius: 10px;
    background-color: darkred;
    box-shadow: 0 0 10px 1px #363737;
    border: none;
    text-align: center;
}

.validation-message-box span {
    color: lightgray;
}

.validation-message-box .validation-message {
    border: none;
    font-size: 14px;
    padding: 0 0 0 5px;
}

.validation-message-box .validation-message-header .validation-header-text {
    font-size: 20px;
}

.form {
    padding: 10px 30px;
    background-color: #344E4F;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #363737;
}

.form .input {
    margin: 15px 0;
}

.form .input-text {
    width: 100%;
    padding: 10px 0;
    text-indent: 7px;
    border-radius: 4px;
}

.form .input-text:focus {
    box-shadow: 0 0 0 2px #363737, -2px 0 0 2px #363737;
}

.form .input-label {
    font-size: 16px;
    font-weight: 600;
    color: lightgrey;
}

.register {
    margin-top: 30px;
    padding: 15px 30px;
    border-top: 1px solid white;
    position: relative;
}

.register:before {
    content: "OR";
    position: absolute;
    top: -8px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    background-color: #475253;
    padding: 0 10px;
}

.btn button {
    width: 100%;
    padding: 10px 0;
    background-color: #363737;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: lightgrey;
    border: none;
}

.popup-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

.popup-background {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
}

.popup-hidden {
    display: none;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    padding: 20px;
    border-radius: 8px;
    min-width: 240px;
}

@media (max-width: 400px) {
    .validations {
        position: relative;
        margin-bottom: 20px;
    }
}